---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import PointCloudRenderer from '../components/PointCloudRenderer.jsx';
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div id ="features" class="container">
      <h2 class="mb-16 text-6xl">Examples</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <PointCloudRenderer 
        glbPath="http://localhost:4321/models/scene1.glb"
        title="Sample Point Cloud" 
        description="This is a point cloud rendered from a GLB file."
        client:only="react" 
      />
      <PointCloudRenderer 
      glbPath="http://localhost:4321/models/scene2.glb"
      title="Sample Point Cloud" 
      description="This is a point cloud rendered from a GLB file."
      client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="http://localhost:4321/models/scene3.glb"
    title="Sample Point Cloud" 
    description="This is a point cloud rendered from a GLB file."
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="http://localhost:4321/models/scene4.glb"
    title="Sample Point Cloud" 
    description="This is a point cloud rendered from a GLB file."
    client:only="react" 
  />
    <PointCloudRenderer 
    glbPath="http://localhost:4321/models/scene5.glb"
    title="Sample Point Cloud" 
    description="This is a point cloud rendered from a GLB file."
    client:only="react" 
    />
    <PointCloudRenderer 
    glbPath="http://localhost:4321/models/scene6.glb"
    title="Sample Point Cloud" 
    description="This is a point cloud rendered from a GLB file."
    client:only="react" 
    />
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Compact 3D Models</h2>
    <p class="text-2xl">
      Tired of juggling large photo files? Our app turns your room photos into a lightweight 3D point cloud, making it easy to share and store. Get a full 3D view of your space without the bulk — it’s fast, efficient, and perfect for seamless sharing with clients or friends. Simplify your workflow and experience your space in 3D today!
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Experience Your Space in a New Dimension"</h2>
    <p class="text-2xl">
      With the 3D point cloud, you don’t just look at a series of images — you get a fully interactive view of the room. It’s a smarter, more efficient way to share room designs or floor plans. Forget the hassle of managing multiple photos, and experience the power of 3D visualization with just a few clicks.
    </p>
  </ContentMedia>
</DefaultLayout>
